.header {
    height: 32px;
    padding: 20px 20px 20px 25px;
    background-color: rgb(230, 0, 18);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 10;

    .header-logo {
        width: 128px;
        height: 32px;
        cursor: pointer;

        .logo {
            height: 100%;
            width: 100%;
            background: url('../assets/images/header-logo.png') no-repeat center;
            background-size: cover;
        }
    }
    .header-right-container {
        margin-right: 50px;
        padding-right: 15px;
        border-right: 1px solid white;

        .header-search-container .search {
            padding-top: 4px;
            width: 22px;
            height: 22px;
            color: white;
            margin: auto;
        }
    }
}