.products-page-container {
    position: absolute;
    top: 72px;
    left: 88px;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: 10px 0 0 10px;
    display: flex;
    flex-direction: row;
    .products-page {
        display: flex;
        flex-direction: column;
    }
}