.navigation {
    background-color: rgb(111, 0, 9);
    position: fixed;
    top: 72px;

    .navigation-container {
        
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;
        .navigation-element {
            width: 72px;
            height: auto;
            margin-top: 1px;
            background-color: rgb(230, 0, 18);
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px 8px;
            text-align: center;
            cursor: pointer;
            font-size: 12px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

            .icon {
                font-size: 40px;
            }
        }
        .navigation-element:hover {
            background-color: rgb(212, 0, 18);
        }
        .navigation-social {
            height: 48px;
            padding: 8px;
            background-color: rgb(230, 0, 18);
            margin-top: 1px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            .nav-social-icon {
                color: white;
                font-size: 30px;
            }
        }
        .navigation-social:hover {
            background-color: rgb(212, 0, 18);
        }
    }

    .navigation-footer {
        background-color: rgb(230, 0, 18);
        height: 25px;
        margin-top: 1px;
    }
}
